.con>a[data-v-762bdddc],div>a[data-v-762bdddc]{color:red}.text--primary>a[data-v-762bdddc]{color:#00f}.head[data-v-762bdddc]{font-size:32px;border:2px solid green;padding:20px}.content[data-v-762bdddc]{padding-left:25px;padding-right:25px;padding-bottom:25px}