.con>a[data-v-0ad59730],div>a[data-v-0ad59730]{color:red}.text--primary>a[data-v-0ad59730]{color:#00f}.head[data-v-0ad59730]{font-size:32px;border:2px solid green;padding:20px}.content[data-v-0ad59730]{padding-left:25px;padding-right:25px;padding-bottom:25px}