.con>a[data-v-7729eb74],div>a[data-v-7729eb74]{color:red}.text--primary>a[data-v-7729eb74]{color:#00f}.head[data-v-7729eb74]{font-size:32px;border:2px solid green;padding:20px}.content[data-v-7729eb74]{padding-left:25px;padding-right:25px;padding-bottom:25px}