.con>a[data-v-612d7a76],div>a[data-v-612d7a76]{color:red}.text--primary>a[data-v-612d7a76]{color:#00f}.head[data-v-612d7a76]{font-size:32px;border:2px solid green;padding:20px}.content[data-v-612d7a76]{padding-left:25px;padding-right:25px;padding-bottom:25px}